.responsive__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.responsive__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.responsive__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04rem;
}

.responsive__footer-btn {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ff4820;
    font-family: var(--font-family);
    font-weight: 500;
    border-radius: 5px;
    line-height: 25px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

.responsive__footer-btn p {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
    margin: 0 1rem;
}

.responsive__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.responsive__footer-links div {
    width: 250px;
    margin: 1rem;
}

.responsive__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.responsive__footer-links_logo img {
    width: 180px;
    height: 100px;
    margin-bottom: 1rem;
}

.responsive__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    color: #fff;
    line-height: 14px;
}

.responsive__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.responsive__footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 1rem;
}

.responsive__footer-links_div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin: 0.5rem 0;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .responsive__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .responsive__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .responsive__footer-links div {
        margin: 1rem 0;
    }

    .responsive__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .responsive__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}